<section class="p-2 w-full">
    <div class="w-full bg-white shadow rounded-xl p-2 grid grid-cols-3">
        <div class="flex flex-col text-center">
            <h2>Nombre</h2>
            <span>Fernando Andrés Salas</span>
        </div>
        <div class="flex flex-col text-center">
            <h2>Documento</h2>
            <span>1090481240</span>
        </div>
        <div class="flex flex-col text-center">
            <h2>Teléfono</h2>
            <span>3118976896</span>
        </div>
    </div>

    <div>
        
    </div>

</section>
