<section class="p-2 w-full">
    <mat-tab-group class="w-full">
        <mat-tab label="Propietario">
            <div class="bg-card shadow rounded-lg p-2 mt-2">
                <mat-tab-group class="w-full">
                    <form [formGroup]="propietarioArrayForm">
                        <mat-tab *ngFor="let propietarioForm of propietarioArrayForm.controls; let i = index"
                            label="Propietario">
                            <div [formGroup]="propietarioForm">

                                <div class="grid grid-cols-3 gap-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tipo</mat-label>
                                        <input matInput type="text" formControlName="tipo" />
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" formControlName="nombre" />
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Tipo Documento</mat-label>
                                        <input matInput type="text" formControlName="tipoDocumento" />
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Documento</mat-label>
                                        <input matInput type="text" formControlName="documento" />
                                    </mat-form-field>
                                </div>
                                <div class="grid grid-cols-3 gap-2 -mt-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Teléfono</mat-label>
                                        <input matInput type="text" formControlName="telefono" />
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Teléfono 2</mat-label>
                                        <input matInput type="text" formControlName="telefono2" />
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Correo</mat-label>
                                        <input matInput type="text" formControlName="correo" />
                                    </mat-form-field>
                                </div>

                                <div class="grid grid-cols-3 gap-2 -mt-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Departamento</mat-label>
                                        <input matInput type="text" formControlName="departamento" />
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Ciudad</mat-label>
                                        <input matInput type="text" formControlName="ciudad" />
                                    </mat-form-field>
                                </div>

                                <div class="flex justify-end">
                                    <button mat-button>Guardar</button>
                                </div>

                            </div>

                        </mat-tab>
                    </form>
                </mat-tab-group>
            </div>
        </mat-tab>
        <mat-tab label="Vehículo">
            <div class="bg-card shadow rounded-lg p-2 mt-2">
                <mat-tab-group class="w-full" (selectedTabChange)="cambioTabVehiculo($event)">

                    <form [formGroup]="vehiculoArrayForm">
                        <mat-tab *ngFor="let vehiculoForm of vehiculoArrayForm.controls; let i = index"
                            [label]="vehiculosAlmacenados[i]?.guardado ? vehiculosAlmacenados[i]?.placa : 'Vehi'">
                            <ng-container *ngIf="!vehiculosAlmacenados[i]?.guardado">
                                <div [formGroup]="vehiculoForm">
                                    <div class="grid grid-cols-3 gap-2">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Placa</mat-label>
                                            <input matInput type="text" formControlName="placa" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Tipo</mat-label>
                                            <mat-select matInput formControlName="tipo">
                                                <mat-option value="1">Carro</mat-option>
                                                <mat-option value="2">Moto</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Propetario</mat-label>
                                            <mat-select matInput formControlName="propietarioId">
                                                <mat-option value="1">Propietario 1</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Conductor</mat-label>
                                            <input matInput type="text" formControlName="conductor" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Descripción</mat-label>
                                            <input matInput type="text" formControlName="descripcion" />
                                        </mat-form-field>
                                    </div>
                                    <div class="grid grid-cols-3 gap-2 -mt-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Marca</mat-label>
                                            <mat-select matInput formControlName="marca">
                                                <mat-option value="1">Marca 1</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Modelo</mat-label>
                                            <mat-select matInput formControlName="modeloId">
                                                <mat-option value="1">Modelo 1</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Año</mat-label>
                                            <input matInput type="text" formControlName="anio" />
                                        </mat-form-field>
                                    </div>

                                    <div class="flex justify-end">
                                        <button (click)="guardarVehiculo()" mat-button>Guardar</button>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="vehiculosAlmacenados[i]?.placa">
                                <div class="p-4 bg-stone-100 rounded-lg">
                                    <div class="flex flex-row justify-between">
                                        <h2 class="text-xl">Vehículo guardado</h2>
                                        <div>
                                            <button mat-icon-button color="accent"
                                                aria-label="Example icon button with a menu icon">
                                                <mat-icon [svgIcon]="'feather:chevrons-right'"></mat-icon>
                                            </button>
                                            <button (click)="quitarVehiculoAlmacenado()" mat-icon-button color="accent"
                                                aria-label="Example icon button with a menu icon">
                                                <mat-icon [svgIcon]="'feather:x'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="text-4xl py-2 flex justify-center items-center flex-col">
                                            <div class="text-md -mb-2">
                                                {{vehiculosAlmacenados[indiceVehiculosAlmacenados]?.tipo ==
                                                1?'Automotor':'Motocicleta'}}</div>
                                            {{vehiculosAlmacenados[indiceVehiculosAlmacenados]?.placa}}
                                        </div>
                                        <div class="flex justify-between flex-row">
                                            <div class="text-2xl text-center">
                                                <div class="text-md -mb-2">Marca</div>
                                                {{vehiculosAlmacenados[indiceVehiculosAlmacenados]?.Modelo?.Marca?.nombre}}
                                            </div>
                                            <div class="text-2xl text-center">
                                                <div class="text-md -mb-2">Modelo</div>
                                                {{vehiculosAlmacenados[indiceVehiculosAlmacenados]?.Modelo?.nombre}}
                                            </div>
                                            <div class="text-2xl text-center">
                                                <div class="text-md -mb-2">Año</div>
                                                {{vehiculosAlmacenados[indiceVehiculosAlmacenados]?.anio}}
                                            </div>
                                        </div>

                                        <div class="text-2xl">
                                            {{vehiculosAlmacenados[indiceVehiculosAlmacenados]?.Propetario?.nombre}}
                                        </div>


                                    </div>
                                </div>
                            </ng-container>
                        </mat-tab>
                    </form>

                </mat-tab-group>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>